header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2e2e2e;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* між елементами простір */
    padding: 0 20px; /* додано відступи з боків */
    box-sizing: border-box;
    z-index: 1000;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user a, .balance, header a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
    padding: 5px;
    transition: color 0.3s ease;
}

.user a:hover, .balance:hover {
    color: #ff9800;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #2e2e2e;
    gap: 15px;
}
.burger-menu nav {
    background-color: #2e2e2e;
    height: 60px;
    margin: 0;
    padding: 0;
}

/* Адаптація бургер-меню для великих екранів */
.burger-menu button {
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
}

ul {
    display: flex;
    gap: 15px;
    background-color: #373636;
}

ul li {
    list-style: none;
    background-color: #373636;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #373636;
    transition: background-color 0.3s ease;
}

ul li a:hover {
    background-color: #ff9800;
}

/* Спільні стилі для обох лінків */
.register-link, .login-link {
    position: relative;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    margin: 0 20px;
    padding: 5px;
    transition: color 0.3s ease;
}

/* Відключаємо зміну кольору при наведенні */
.register-link:hover,
.login-link:hover {
    color: white;
}

/* Стилі для символу ♥ біля Register */
.register-link::before {
    content: "♥";
    position: absolute;
    left: -20px; /* відступ зліва */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: red;
    pointer-events: none;
}
.register-link::after {
    content: "♥";
    position: absolute;
    right: -20px; /* відступ справа */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: red;
    pointer-events: none;
}
/* Показуємо символ при наведенні */
.register-link:hover::before,
.register-link:hover::after {
    opacity: 1;
}
/* Стилі для символу ♦ біля Login */
.login-link::after {
    content: "♦";
    position: absolute;
    right: -20px; /* відступ справа */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #b300b3;
    pointer-events: none;
}

.login-link::before {
    content: "♦";
    position: absolute;
    left: -20px; /* відступ зліва */
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #b300b3;
    pointer-events: none;
}
/* Показуємо символ при наведенні */
.login-link:hover::before,
.login-link:hover::after {
    opacity: 1;
}